.float {
  -webkit-animation: float 2.5s linear infinite;
  animation: float 2.5s linear infinite;
}
@-webkit-keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}

@keyframes float {
  0%,
  100% {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
  50% {
    -webkit-transform: translateY(1rem);
    transform: translateY(1rem);
  }
}
